<!-- <p>todos works!</p> -->
<!-- <app-todo-additem (todoAdd)="addTodo($event)"></app-todo-additem>
<h4>Your Todos</h4>

<div *ngFor="let todo of todos">
  <app-todo-items [todo]="todo" (todoDelete)="deleteTodo($event)"></app-todo-items>
</div> -->


<div class="container">
  <h1 class="text-center mb-3">Todo List by CodeWithHarry</h1>
  <app-todo-additem (todoAdd)="addTodo($event)"></app-todo-additem>
  <h4>Your Todos</h4>

  <div *ngIf="this.todos.length===0; else elseBlock">No Todos to display</div>
  <ng-template #elseBlock>

    <div *ngFor="let todo of todos; index as i">
      <app-todo-items [todo]="todo"  [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-items>
    </div>
  </ng-template>
</div>

